@keyframes colorfulbg {
  0%   {background-color:pink}
  25%  {background-color:peru}
  50%  {background-color:powderblue}
  75%  {background-color:palegreen}
  100% {background-color:pink}
}
@keyframes colorfultxt {
  0%   {color:darkslateblue}
  25%  {color:cyan}
  50%  {color:bisque}
  75%  {color:crimson}
  100% {color:darkslateblue}
}
h1, h2, p {
  font-family: sans-serif;
  text-align: center;
}
body {
    background-size: 48vh;
    overflow-y: hidden;
    overflow-x: hidden;
}
#triviaheader {
  font-size: 5vh;
}
#trivia {
  background-color: pink;
  animation-name: colorfulbg;
  animation-duration: 60s;
  animation-iteration-count: infinite;
  border-style: groove;
  font-size: 8vh;
}

#greeting {
  animation-name: colorfultxt;
  animation-duration: 40s;
  animation-iteration-count: infinite;
  font-size: 10vh;
}

#date {
  font-size: 5vh;
}
